certifi==2018.1.18
chardet==3.0.4
Django==1.11.29
django-cors-headers==2.2.0
django-rest-framework==0.1.0
djangorestframework==3.8.2
djangorestframework-jsonapi==2.5.0
idna==2.6
inflection==0.3.1
psycopg2==2.7.4
pytz==2018.5
requests==2.18.4
six==1.11.0
spatialite==0.0.2
urllib3==1.22
